<div id="contentLeft">

	<div id="grid">

		<div id="grid_filter">
			filter
		</div>

		<div id="grid_list">
			grid
		</div>
	</div>
</div>

<div id="contentRight">
	right
</div>

<div id="signup">
  <%= link_to(image_tag("signup_banner.png"), new_user_path) %>
</div>

<div id="footer">
  rodape
</div>

