body{
	background-color: #FFF;
	background-image: url("../images/bg.gif");
	background-repeat: repeat-x;
	font-family: Trebuchet MS,Arial,Tahoma,Verdana,sans-serif;
}

header{
	display:block;
	height:125px;
	width:950px;
	text-align: right;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
}

nav{
	display:block;
	height:30px;
}

section {
	font: 8pt Arial;
}

#content{
	width:950px;
	margin-left:auto;
	margin-right:auto;
}

#contentLeft{
	width:640px;
	float: left;
}

#contentRight{
	width:300px;
	float: right;
	height: 150px;
}

/* ------------------- SLIDE [inicio] ----------------- */
#slide{
	/*background-color: #999;*/
	height: 200px;
}

.jcarousel-control {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 2px;
	margin-bottom: 2px;
	text-align: right;
	width:640px;
}

.jcarousel-control a {
	font-size: 75%;
	text-decoration: none;
	padding: 0 5px;
	margin: 0 0 5px 0;
	border: 1px solid #fff;
	color: #eee;
	background-color: #222;
	font-weight: bold;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
	outline: none;
}

/* ------------------- SLIDE [fim] ----------------- */

/* ------------------- GRID [inicio] ----------------- */

#grid{
	/* background-color: #F0F0F0; */
}

#grid_filter{
	width:180px;
	float: left;
}

#grid_list{
	width:460px;
	float: right;
}

/* ------------------- GRID [fim] ----------------- */


/* ------------------- MARKETING [inicio] ----------------- */

.mkt{
	border:1px solid #FFF;
}

.pub{
	border:1px solid #999;
}

.space{
	height: 10px;
}

.search{
	background-color: #FFF;
	margin-left: 480px;
	width: 470px;
	height: 24px;
}

input.txtB{
	-moz-border-radius:2px 2px 2px 2px;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #f0f0f0;
	color:#999;
	font: 8pt Arial;
	margin-top:3px;
	margin-bottom:3px;
	padding:1px;
}

.login{
	color:#555;
	font: 8pt Arial;
	font-weight: bold;
	text-decoration: none;
}

/* ------------------- MARKETING [fim] ----------------- */


/* ------------------- NAVIGATION [inicio] ----------------- */

#menu{
	width:950px;
	vertical-align: middle;
	
}

#menu li {
	position:relative;
	display:block;
	float:left;
	width:48px;
	height:30px;
	padding-left: 25px; 
	padding-right: 25px; 
	padding-top: 2px;
}

#menu li label { 
	font-size: 10px;
	font-weight: bold;
}

#menu li a { 
	color: #f2f2f2;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

/* ------------------- NAVIGATION [fim] ----------------- */